div.city{
    color:grey
      
  }
  div.bloodgroup{
    color:grey
      
  }
  div.age{
    color:grey
      
  }
  div.n{
    text-size-adjust:100px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-size-adjust:var(100px);
  }
